.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  overflow-y: auto;
}

.SelectContent::-webkit-scrollbar {
  width: 8px;
}

.SelectContent::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
}

.SelectContent::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.SelectContent::-webkit-scrollbar-track {
  background: #c6c6c6;
}
