ul::-webkit-scrollbar {
    width: 10px;
  }
  
  ul::-webkit-scrollbar-track {
    background: #1c1c1c;
    border-radius: 10px;
  }
  
  ul::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    border-radius: 10px;
    border: 2px solid #1c1c1c;
  }
  